@import "tailwindcss";

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}
path.leaflet-interactive:focus {
  outline: none;
}
.leaflet-control-zoom {
  right: 20 !important;
}
